/* reset */
input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

.FormRoot {
  padding : 20px;
  width: 360px;
}

.FormField {
  display: grid;
  margin-bottom: 10px;
}

.FormLabel {
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
  color: #1A1A1A;
}

.FormMessage {
  font-size: 13px;
  /*color: white;*/
  opacity: 0.8;
}

.Input,
.Textarea {
  outline : none;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  font-size: 15px;
  color: #999999;
  border: 1px solid #999999;
  /*background-color: var(--black-a5);*/
  /*box-shadow: 0 0 0 1px var(--black-a9);*/
}

.Input::placeholder,
.Textarea::placeholder {
  color: #B3B3B3;
  font-size: 15px;
}

.Input:disabled,
.Textarea:disabled {
  border-color : #E6E6E6;
  /*color: red;*/
  background-color: #F5F5F5;
}

.Input:hover,
.Textarea:hover {
  /*box-shadow: 0 0 0 1px black;*/
}
.Input:focus,
.Textarea:focus {
  /*box-shadow: 0 0 0 2px black;*/
}
.Input::selection,
.Textarea::selection {
  background-color: var(--black-a9);
}

.Input {
  padding : 10px 16px;
  /*line-height: 1;*/
}

.Textarea {
  resize: none;
  padding: 10px;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;

  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}